// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend-name {
	font-size: 20px;
	display: inline;
	float: left;
}

.friend-image {
	display: inline;
	margin-right: 30px;
	float: left;
	width: 150px;
	height: 150px;
}

.friend-div {
	margin-bottom: 5px;
}